{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Articles page{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/articles.css' %}">{% endblock styles %}

{% block header %}
    <header>
        <div class="head">
        <a href="{% url 'home' %}" id="home">Home</a>
        </div>
    </header>
{% endblock header %}

{% block main %}
    <div class="container">
        <h1>All Articles</h1>
        <p class="subtitle">Find or list tools that will help designers build to last. Simplify design with our comprehensive and carefully vetted library from the start.</p>

        <div class="filters">
            <button class="active">All Articles</button>
            <button>Spotlight</button>
            <button>Product Updates</button>
            <button>Company</button>
            <button>Productivity</button>
        </div>

        <div class="articles">
             <!-- ✅ Copied Article 1 -->
            {% for article in articles %}
            <div class="card">
                <img src="{{ article.image.url }}" alt="Top 10 Personal Portfolio Site">
                <p class="category">{{ article.published_date|date:"M d, Y" }} - {{ article.read_time }}</p>
                <h3>{{ article.title }}</h3>
                <a href="{{ article.link }}" class="read-more">Read More →</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}
