{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Projects page{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/projects.css' %}">{% endblock styles %}

{% block header %}
    <header>
        <div class="head">
            <a href="{% url 'home' %}" id="home">Home</a>
        </div>
    </header>
    {% endblock header %}

   {% block main %}
    <div class="container">
        <h1>All Projects</h1>
        <p class="subtitle">Explore my recent projects showcasing web development, creativity, and innovation in each work.</p>

        <div class="filters">
            <button class="active">All Projects</button>
            <button>Websites</button>
            <button>UI/UX</button>
            <button>Apps</button>
        </div>

        <div class="project-list">
            <!-- Project 1 -->
             {% for project in projects %}
            <div class="project-card">
                <div class="project-info">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                    <a href="{{ project.case_study_link }}">Case Study→</a>
                    <a href="{{ project.github_link }}">GitHub→</a>
                </div>
                <img src="{{ project.image.url }}" alt="INGOLF project preview">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}